<div class="container">
    <div class="mt-3">
        <h1 class="text-center">HEALTH SERVICE WORKERS UNION OF TUC, GHANA</h1>
        <p class="text-center">UPPER WEST REGIONAL HEALTH DIRECTORATE BRANCH MEMBERSHIP REGISTRATION FORM</p>

        <h2 class="text-center">Registration Form</h2>

        <div class="bg-light p-3">
            <form action="" method="POST">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="" class="h6">Surname</label>
                            <input type="text" class="form-control" name="surname">
                        </div>
                        <div class="col-6">
                            <label for="" class="h6">Other Name</label>
                            <input type="text" class="form-control" name="othername">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label for="" class="h6">Profession</label>
                            <input type="text" class="form-control" name="profession">
                        </div>
                        <div class="col-6">
                            <label for="" class="h6">Unit/Departmant</label>
                            <select name="depart" id="" class="form-control">
                                <option value="">&nbsp;</option>
                                <option value="Clinic Care">Clinical Care</option>
                                <option value="HASS">HASS</option>
                                <option value="ORD">ORD</option>
                                <option value="Public Health">Public Health</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label for="" class="h6">Staff ID</label>
                            <input type="text" class="form-control" name="staffid">
                        </div>
                        <div class="col-6">
                            <label for="" class="h6">Dues Paying Member</label>
                            <select name="dpm" id="" class="form-control">
                                <option value="">&nbsp;</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label for="" class="h6">ID Card Passpot Taken</label>
                            <select name="idcard" id="" class="form-control">
                                <option value="">&nbsp;</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="" class="h6">Attach Current Payslip</label>
                            <input type="file" class="form-control" name="formFileSm" />
                        </div>
                    </div>

                    <div class="form-group mt-3 text-center">
                        <button class="btn btn-primary">Submit</button>
                        <button class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>